# General
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Environment variables
*.env

# Node modules
node_modules/

# Build directories
dist/
build/

# Ignore npm and yarn locks
package-lock.json
yarn.lock
